* {
  box-sizing: border-box;
}

.padding-20 {
    padding: 20px;
}

.ui-table table {
  border-collapse: separate;
  border-spacing: 5px;
}

body .ui-table .ui-table-thead > tr > th {
  border-radius: 16px;
  border: none;
  position: sticky;
  text-align: center;
  top: 0;
  color: chocolate;
  background: cornsilk;
}

body .ui-table .ui-table-tbody > tr > td {
  border: none;
  border-radius: 10px;
  padding: 0px;
  
}

body .ui-table-resizable>.ui-table-wrapper {
  overflow-x: initial !important;
}

body .pi {
  font-size: 0.85em;
}

.total-field {
  font-weight: bolder;
  text-transform: uppercase;
  pointer-events: none;
}

.cursor {
  cursor: pointer;
}

.ui-g {
  margin-left: 15px !important;
}

.ui-table {
  position: inherit;
}

.table-heading {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: -webkit-xxx-large;
padding: 10px; 
font-weight: bolder;
color: darkgreen;
}

